$button-shadow: rgba(255, 255, 255, 0.2) 0 1px 0 0 inset, rgba(0, 0, 0, 0.0470588) 0 1px 2px 0;
$button-gradient: linear-gradient(rgb(0, 136, 204), rgb(0, 68, 204));
$table-row-alt-color: whitesmoke;
$small-tablet-size: 584px;
$large-tablet-size: 752px;
$desktop-size: 1024px;

@mixin box-shadow ($value) {
    -webkit-box-shadow: $value;
    box-shadow: $value;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 1px;
}

h2 {
    margin: 0;
    padding: 0;
}

button {
    @include box-shadow($button-shadow);
    background-color: rgb(0, 109, 204);
    border: none;
    background-image: $button-gradient;
    border-radius: 5px;
    color: white;
    padding: 5px;
    -webkit-appearance: none;
}

    button.rpc {
        display: none;
    }

section.product-list {
    position: relative;
    margin: 35px 0 0 0;
    width: 99%;

    table {
        width: 100%;

        tr:nth-child(even) {
            background-color: $table-row-alt-color;
        }

        th, td { 
            border-collapse: collapse;
            text-align: left;

            &.id {
                display: none;
            }

            &.actions {
                text-align: right;
            }
        }

        td button.edit {
            display: none;
        }
    }

    button.refresh {
        position: absolute;
        top: 0;
        right: 1px;
    }
}

section.search {
    height: 30px;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 99%;

    h2 {
        display: none;
    }

    .text.block {
        width: 75%;

        input {
            width: 100%;
        }
    }

    .button.block {
        text-align: right;
        width: 25%;

        button {
            height: 25px;
            position: absolute;
            top: 0;
            right: 3px;
        }
    }
}

section.add-new {
    margin: 5px 0 0 0;

    label {
        display: inline-block;
        width: 25%;
    }

    input {
        width: 70%;
    }

    div.actions {
        text-align: right;
    }
}
   
/* Small Tablet */
@media (min-width: $small-tablet-size) {
    section.product-list {
        margin: 55px 0 0 0;

        table th.id,
        table td.id {
            display: table-cell;
        }
    }

    section.search {
        h2 {
            display: block;
        }

        .text.block {
            width: 85%;
        }

        .button.block button {
            top: 25px;
        }
    }

    section.add-new {
        label {
            width: 90%;
        }

        input {
            width: 98%;
        }
    }
}

/* Large Tablet */
@media (min-width: $large-tablet-size) {
    section.product-list {
        margin: 0;
        padding: 10px;
        position: static;

        table td button.edit {
            display: inline;
        }

        button.refresh {
            position: static;
        }
    }

    section.search {
        width: 50%;
        height: inherit;
        position: static;
        margin: 10px 0 0 0;
        padding: 10px;

        .text.block {
            width: 100%;

            input {
                width: 100%;
            }
        }

        .button.block {
            text-align: left;
            width: 24%;

            button {
                position: static;
            }
        }
    }

    section.add-new {
        margin: 10px 0 0 0;
        width: 50%;
        padding: 10px;

        div.actions {
            text-align: left;
        }
    }
}

/* Desktop */
@media (min-width: $desktop-size) {
    section.product-list {
        width: 50%;
    }
}
